<!doctype html>
<html lang="en">
<link href="/public/assets/style.css" rel="stylesheet" type="text/css" />
<%- include('includes/head')%>

<body>
<%- include('includes/nav')%>
<title>SmartCare | ECommerce</title>

<div class="container mt-5">
  <h1 class = "text-center">Not found</h1>
  <img src="/public/assets/images/404.png" class="img-fluid" alt="not found">
</div>

</body>
<%- include('includes/footer')%>

</html>
